# Solution Items
SummerProject.sln
SummerProject.v11.suo

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
SummerProject/bin
SummerProject/obj

# mstest test results
SummerProject/TestResults